.sprite {
    background-image: url(../images/icons.png);
    background-repeat: no-repeat;
    display: inline-block;
    cursor: pointer;
}

.sprite-delete {
    width: 16px;
    height: 16px;
    background-position: -5px -5px;
}

.sprite-draw {
    width: 16px;
    height: 16px;
    background-position: -5px -31px;
}

.sprite-medical {
    width: 16px;
    height: 16px;
    background-position: -5px -57px;
}

.x-action-col-icon{
    margin-left: 5px;
}

#bookInfoModal .modal-body img.cover{
    max-width: 450px;
}

.book-cover{
    max-width: 40px;
}

.modal-sm {
    width: 100px!important;
}